BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
AllowShortFunctionsOnASingleLine: Empty
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignEscapedNewlines: DontAlign
